.phonebook {
  border: 2px solid black;
  width: 350px;
  height: max-content;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.phonebookLabel {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px 0;
  margin-bottom: 15px;
}

.phonebookLabel__text {
  font-size: 18px;
}

.phonebookLabel__input {
  font-size: 18px;
}
